body{
    background-color: F9F5EB;
    margin-left: 10%;
    margin-right: 10%;
}
hr{
    border-style: dotted none none none;
    width: 4%;
    border-color: grey; 
    border-width: 7px;
}
h1{
    color: #66bfbf;
}
h3
{
    color: #66bfbf;
}
a
{
    color: #66bfbf;
    text-decoration: none;
}

.dp
{
    border-radius: 100%;
}

